{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>Salut {{ app.user.pseudo }}</h1>
        {% else %}
        <meta http-equiv="refresh" content="0;url={{ path('app_login') }}">
    {% endif %}
{% endblock %}
