@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto';
    box-sizing: border-box;
}

:root {
    --text-color: #34495e;       /* Gris foncé pour le texte */
}

body{
    background-color: #c6c6c6;
    color: var(--text-color);
    height: 100vh;
    margin-top: 160px;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Divisez la fenêtre en deux colonnes */
    grid-template-rows: repeat(2, 1fr); /* Divisez la fenêtre en deux lignes */
    gap: 20px; /* Espace entre les éléments */
}

.container > * {
    border: 1px solid #ccc; /* Ajoutez une bordure pour visualiser les limites */
    padding: 20px; /* Ajoutez un espace intérieur pour l'esthétique */
}

h1{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: var(--text-color);
}


h2{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

h5{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

h4{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: var(--text-color);

}

.nav-bar{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.783);
    align-items: center;
    position: fixed;
    z-index: 1;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.fa-users{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.fa-info-circle{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.fa-trash{
    font-size: 20px;
    color: red;
}

.fa-pen-to-square{
    font-size: 20px;
    color: rgb(1, 15, 77);
}

.fa-users:hover,
.fa-info-circle:hover,
.fa-trash:hover,
.fa-pen-to-square:hover {
    font-size: 24px; 
    transition: font-size 0.3s; 
}

.detail-place{
    height: 35px;
    width: 500px;
    background-color: #e1e1e1;
    border-radius: 10px;
}

.lien{
    display: flex;
    align-items: center;
}

.pseudo{
    display: flex;
    align-items: center;
}

.lien-nav{
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    margin: 10px;
}

.fa-user{
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    margin: 10px;
}

.lien-nav:hover{
    color: rgb(178, 246, 248);
}

li{
    color: white;
}

a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: var(--text-color);

    margin: 10px;
}


.th{
      background-color: #0056b3;  
}

th{
    color: var(--text-color);
    padding: 10px;
}

td{
    color: var(--text-color);
    padding: 15px;
}

.btn-card{
    padding: 5px 10px;
    font-size: 14px;
    margin-top: 10px;
    width: 50%;
    max-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #073b73;
    border: black;
    color: white;
}


.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #073b73;
    border: black;
    color: white;
}

.login{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-control{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    margin: 5px;

}

.edit{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    height: 35px;
    border: none;
    padding: 5px;
    margin: 5px;
}

.edit-1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    border-radius: 5px;
    height: 35px;
    border: none;
    padding: 5px;
    margin: 5px;
}

.edit-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    border-radius: 5px;
    height: 35px;
    border: none;
    padding: 5px;
    margin: 5px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.list{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.list-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
}

.addProgramme{
    display: flex;
    justify-content: space-evenly;
    
}

h4{
    height: 50px;
}

label{
    color: var(--text-color);
}

.option{
    width: 20%;
    border-radius: 5px;
    height: 30px;
}


/* stagiaire.css */
.row{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.card {
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    margin: 10px;
    background-color: #e1e1e1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: auto;
}

.card-body {
    padding: 15px;
    text-align: center;
}

.card-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    margin-bottom: 10px;
}

.ligne{
    background-color: #e3e3e3;
}

.card-text {
    font-size: 14px;
    color: #b7b7b7;
    margin-bottom: 15px;
}

.button-card{
    display: flex;
    justify-content: center;
}


.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.form-prog{
    margin-bottom: 45px;
}

.navbar{
    height: 100px;
    padding: 0;
    color: white;
   display: flex;
   justify-content: space-between;
}

.nav-item{
    width: 100%;
}
.nav-link{
    color: white;
    width: 100px;
    font-size: 13px;
}

.nav-link:hover{
    color: #b7b7b7;
}

.navbar-nav{
    z-index: 1;
    border-radius: 10px;
    padding: 10px;
  }

.container-fluid{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.783);
    align-items: center;
    position: fixed;
    z-index: 1;
    
}

.navbar-brand{
    margin: 0;
    width: 100%;
     display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-user{
    font-size: 25px;
    color: white;
}


.logo-box{
    display: flex;
}

.text-logo{
    margin: 5px;
    text-align: center;
    color: #0e0e0e;
    font-weight: bolder;
    font-size: 23px;
}


.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    font-size: 30px;
}


.navbar-toggler{
    border-color: #ffffff;   
}

.navbar-toggler:focus{
    box-shadow: none;
}


 