@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto';
    box-sizing: border-box;
}

body{
    background-color: cornflowerblue;
    height: 100vh;
}

h1{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: white;
}

.nav-bar{
    display: flex;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.267);
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
}

.fa-users{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.fa-book{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.fa-trash{
    font-size: 12px;
    color: red;
}

.fa-pen-to-square{
    font-size: 12px;
    color: rgb(1, 15, 77);
}

.lien-nav{
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    margin: 10px;
}

.lien-nav:hover{
    color: rgb(178, 246, 248);
}

li{
    color: white;
}

a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    margin: 10px;
}


.th{
      background-color: #0056b3;  
}

th{
    color: white;
    padding: 10px;
}

td{
    color: white;
    padding: 15px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;

}

.table-bordered{
    width: 100%;
    margin: 20px;
    border-color: black;
}

.login{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-control{
    /* display: flex; */
    /* justify-content: center; */
    width: 60%;
    margin: 15px;

}

.edit{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    height: 35px;
    border: none;
    padding: 5px;
    margin: 5px;
}


.list{
    display: flex;
    justify-content: center;
}

.addProgramme{
    display: flex;
    justify-content: space-evenly;
    
}

h4{
    height: 50px;
}

label{
    color: white;
    /* margin-left: 15px; */
}

.option{
    width: 20%;
    border-radius: 5px;
    height: 30px;
}


/* .detail{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 500px;
    background-color: aqua;
} */