{% extends 'base.html.twig' %}

{% block title %}Email de facturation{% endblock %}

{% block body %}
    
<h1>Invoice</h1>


<span class="login">
<form class="form-prog" action="{{ path('send_invoice', {'id': stagiaire.id}) }}" method="post">
    <label for="montant">Montant:</label>
    <input class="edit" type="text" id="montant" name="montantPaye" required>

    <label for="payeEnIntegralite">Payé en intégralité:</label>
    <input class="edit" type="checkbox" id="payeEnIntegralite" name="payeEnIntegralite" value="1">

    <div id="nombrePaiementsDiv">
        <label for="nombrePaiements">Nombre de paiements:</label>
        <input class="edit" type="number" id="nombrePaiements" name="nombrePaiements">
    </div>
    <input class="edit" type="hidden" name="stagiaireId" value="{{ stagiaire.id }}">
    <button class="btn btn-secondary edit" type="submit">Envoyer Facture</button>
</form>
</span>


    
{% endblock %}