{% extends 'base.html.twig' %}

{% block title %}Détail d'un stagiaire{% endblock %}

{% block body %}
    <h1>Détail d'un stagiaire</h1>
    
 
    <h2>{{ stagiaire }}</h2>
    <p>
       
    </p>

{% endblock %}
