{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<h1>Ajouter Session</h1>




    {{ form_row(session.nbPlace) }}
    {{ form_row(session.dateDebut) }}
    {{ form_row(session.dateFin) }}

    <button type="submit" class="btn">Register</button>
{{ form_end(sessionForm) }}
{% endblock %}
