{% extends 'base.html.twig' %}

{% block title %}Programme session{% endblock %}

{% block body %}
        {% if app.user %}
            <div class="detail">
                <h1>Programme session</h1>
            
                <table class="table table-bordered">
                    <thead>
                        <tr>
                        <th scope="col">Module</th>
                        <th scope="col">Durée en jour</th>
                        </tr>
                    </thead>
                    <tbody>    
                        {% for prog in progs %}
                        <tr>
                            <td> {{ prog.section.nomSection }} </td>
                            <td>{{ prog.duree }}</td>
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                
        {% else %}
            <meta http-equiv="refresh" content="0;url={{ path('app_login') }}">
        {% endif %}

{% endblock %}
