{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}
        {% if app.user %}
            <div class="detail">
                <h1>Fiche session</h1>
                
            
                <h2>{{ session }}</h2>
                <p>
                    
                </p>
            </div>
        {% else %}
            <meta http-equiv="refresh" content="0;url={{ path('app_login') }}">
        {% endif %}

{% endblock %}
