{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}
    <h1>Détail d'une session</h1>
    
 
    <h2>{{ session }}</h2>
    <p>
        
    </p>

{% endblock %}
